
body {
    font-family:"Open Sans",Helvetica,sans-serif;
    background: #001821;
    background-repeat: no-repeat;
    color: white;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothung: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    color: inherit;
}
.main-page-wrapper {
    background: url("/my-project/img/background.jpg") center top no-repeat, url(background.jpg) bottom no-repeat;  
}
ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}
h1, h2, h3 ,h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
* {
    box-sizing: border-box;
}
.conteiner {
    margin: 0 auto;
    width: 1140px;
}
.header {
position: relative;
min-height: 140px;   
}
.logo__pic {
    display: block;
    position: absolute;
    left: 0px;
    top: 24px;
}
.menu {
    position: absolute;
    top: 33px;
    left: 165px;
}
.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}
.menu__link {
    margin-right: 6px;
    font-size: 14px;
    text-decoration: none;
}
.menu__link:hover {
    color: rgb(255, 0, 0);
}
.contacts {
    position: absolute;
    top: 18px;
    right: 0;
    text-align: right;
    font-style: normal;
}
.contacts__phone {
    font-size: 27px;
    text-decoration: none;
}
.contacts__workhours {
    font-size: 13px;
    text-decoration: underline;
}
.time {
font-size: 13px;
color: black;
margin-right: 35px;
}

.topic {
    width: 520px;
    margin-bottom: 127px;
}

.tittle__tur {
    font-weight: bold;
    font-size: 72px;
    line-height: 1.3;
    margin-bottom: 29px;
}

.topic .topic__text {
    font-size: 18px;
    margin-bottom: 31px;
}
.hotturs{
    padding: 127px 0;
}
.button {
background: #ff0000;
border-radius: 34px;
padding: 18px 40px;
color: white;
font-weight: bold;
font-size: 14px;
text-transform: uppercase;
text-decoration: none;
display: inline-block;
}
.button:hover {
    color: rgb(0, 0, 0);
}
.title__hotturs {
font-weight: bold;
font-size: 36px;
margin-bottom: 51px;
}
.offers__item {
    min-height: 305px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    margin-right: 27px;
    width: calc(100% / 3);
    height: 449px;
    color: black;
}
.offers__item :last-child {
    margin-right: 0px;
}

.hotturs__content {
    padding: 30px 20px;
}
.info__icon {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    margin-right: 10px; 
}
.info__icon--food {
    background-image: url("/my-project/img/meal.png") ;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.info__icon--calendar {
    background-image: url("/my-project/img/calendar.png") ;
    background-repeat: no-repeat;
    margin-right: 10px;
}
 .conditions__text {
    margin-right: 25px;
}
.conditions__list {
    display: flex;
    }
    .offers__list {  display: flex;
}
.food__item .food {
    display: flex;
    margin-right: 10px; 
    }
.conditions__item .conditions {
    display: flex;
    margin-right: 10px;
    }
.conditions__item :last-child{
    margin-right: 0px;
}
.country__title {
font-weight: bold;
font-size: 24px;
margin-bottom: 23px;
}
.conditions__list {
    display: flex; 
    align-items: center;
    margin-right: 0;
} 
.text {
    font-size: 14px;
    margin-bottom: 25px;
}
.button__look {
    background: #ffffff;
    border-radius: 34px;
    border: 1px solid red;
    padding: 18px 28px;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-color: red;
}
.btn--color--red:hover {
background: rgb(255, 0, 0);
box-shadow: 0 0 25px 0 rosybrown;
color: white;
}
.offers__item {
margin-bottom: 70px;
}
.newsdiscounts__topic {
margin-bottom: 51px;
font-weight: bold;
font-size: 36px;
line-height: 49px;
}
.offers__item:last-child {
margin-right: 0px;
}
.newsdiscounts__item {
 width: (calc 100%/2 - 25px/2);
 height: 394px;
 display: inline-block;
 vertical-align: top;
 position: relative;
 border-radius: 4px;
 overflow: hidden;
 margin-bottom: 57px;
 margin-right: 25px;
}
.image {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}   
.newsdiscounts__cover {
display: block;
width: 100%;
height: 100%;
object-fit: cover;  
}
.newsdiscounts__content {
 position: absolute;
left: 0;
 right: 0;
 bottom: 0;
 padding: 25px 30px;
 min-height: 120px;
 }
.newsdiscounts__content .data {
 font-size: 14px;
 margin-bottom: 13px;
 }
.newsdiscounts__content .title {
 font-weight: bold;
font-size: 24px;
 }
.newsdiscounts__content .discounts {
 font-size: 16px;
 }
.newsdiscounts__list {
 font-size: 0;
}
.newsdiscounts__item:last-child {
margin-right: 0px;
}
.newsdiscounts {
padding-bottom: 57px;
}

.paginator {
text-align: center;
}
.paginator__display, .paginator__list {
 display: inline-block;
vertical-align: middle;
}
.paginator__display {
margin-right: 36px;
}
.paginator__item {
display: inline-block;
vertical-align: middle;
}
.paginator__link {
display: block;
vertical-align: middle;
width: 32px;
height: 32px; 
border-radius: 50%;
position: relative;
text-decoration: none;
font-weight: bold;
}
.paginator__item--active .paginator__link {
background: #ffffff;
color: red;
}
.paginator__item :hover {
    background: #ffffff;
    color: rgb(255, 0, 0);
    }
.paginator__list {
line-height: 31px;
}
.about {
    color: black;
}
.aboutus:before {
content: "";
display: inline-block;
vertical-align: top;
width: 490px;
height: 505px;
background: url(/my-project/img/gates.jpg) center center / cover no-repeat;
}
.about {
background: url(/my-project/img/mountains.jpg);
width: 785px;
height: 455px;
padding: 70px 202px 66px 81px;
text-align: left;
display: inline-block;
vertical-align: top;
margin-left: -140px;
margin-top: 110px;
}
.about__image__text :last-child {
margin-right: 0;
}
.aboutus__title {
font-weight: bold;
font-size: 36px;
margin-bottom: 37px;
}
.aboutus__text {
margin-bottom: 43px;
}
.aboutus__text p {
margin-bottom: 20px;
}
.aboutus__text p :last-child {
margin-bottom: 0;
}
p {
margin-top: 0;
}
.about {
padding: 53px 0;
}
.footer {
height: 92px;
position: relative;
}
.logo__pic2 {
    padding-top: 35px;
}
.menu2 {
position: absolute;
top: 39px;
left: 165px;  
}
.menu__item {
vertical-align: middle;
margin-right: 50px;
}
.menu__link {
margin-right: 8px;
font-size: 14px;
text-decoration: none;        
}
.socialnetwork__item {
display: inline-block;
vertical-align: middle;
margin-right: 10px;
}
.socialnetwork__link {
display: block;
height: 36px;
width:36px ;
text-decoration: none;
}
.socialnetwork__item :last-child {
 margin-right: 0;
}
.socialnetwork__list {
top: 33px;
right: 265px;
position: absolute;
}
.contacts__phone1 {
font-size: 26px;
 text-decoration: none;
}
.socialnetwork__item--icon--telegram .socialnetwork__link {
background-image: url("/my-project/img/telegram.png");
}
.socialnetwork__item--icon--telegram .socialnetwork__link:hover {
background-image: url("/my-project/img/telegram-hover.png");
}
.socialnetwork__item--icon--vk .socialnetwork__link {
background-image: url("/my-project/img/vk.png");
}
.socialnetwork__item--icon--vk .socialnetwork__link:hover {
background-image: url("/my-project/img/vk-hover.png");
}
.socialnetwork__item--icon--f .socialnetwork__link {
background-image: url("/my-project/img/f.png");
}
.socialnetwork__item--icon--f .socialnetwork__link:hover {
background-image: url("/my-project/img/f-hover.png");
}
.socialnetwork__item--icon--in .socialnetwork__link {
background-image: url("/my-project/img/in.png");
}
.socialnetwork__item--icon--in .socialnetwork__link:hover {
background-image: url("/my-project/img/in-hover.png");}