.footer {
    height: 92px;
    position: relative;
    display: flex;
    align-items: center;

    }
    .menu__list {
        margin-left: 100px;
    }
    .menu__item {
    vertical-align: middle;
    margin-right: 50px;
    }
    .menu__link {
    margin-right: 8px;
    font-size: 14px;
    text-decoration: none;        
    }
    .socialnetwork__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    }
    .socialnetwork__link {
    display: block;
    height: 36px;
    width:36px ;
    text-decoration: none;
    }
    .socialnetwork__item :last-child {
     margin-right: 0;
    }
    .socialnetwork__list {
        top: 33px;
        right: 200px;
        }
        .socialnetwork {
            margin-left: auto;
            margin-right: 50px;
        }
        .container__footer {
            margin-top: auto;
        }
    .contacts__phone1 {
    font-size: 26px;
     text-decoration: none;
    }
    .socialnetwork__item--icon--telegram .socialnetwork__link {
    background-image: url("/my-project//img/telegram.png");
    }
    .socialnetwork__item--icon--telegram .socialnetwork__link:hover {
    background-image: url("/my-project/img/telegram-hover.png");
    }
    .socialnetwork__item--icon--vk .socialnetwork__link {
    background-image: url("/my-project/img/vk.png");
    }
    .socialnetwork__item--icon--vk .socialnetwork__link:hover {
    background-image: url("/my-project/img/vk-hover.png");
    }
    .socialnetwork__item--icon--f .socialnetwork__link {
    background-image: url("/my-project/img/f.png");
    }
    .socialnetwork__item--icon--f .socialnetwork__link:hover {
    background-image: url("/my-project/img/f-hover.png");
    }
    .socialnetwork__item--icon--in .socialnetwork__link {
    background-image: url("/my-project/img/in.png");
    }
    .socialnetwork__item--icon--in .socialnetwork__link:hover {
    background-image: url("/my-project/img/in-hover.png");}