.header {
    display: flex;
    justify-content: space-between; 
    padding-top: 27px;
    margin-bottom: 30px;
 align-items: center;
    }
    .header__col {
        display: flex;
        align-items: center;
    }
    .header__col--align--right {
        justify-content: flex-end;
    }
    .logo__pic {
        display: block;
        left: 0px;
        margin-right: 80px;
    }
    .menu {
        left: 165px;
    }
    .menu__item {
        display: inline-block;
        vertical-align: middle;
        margin-right: 50px;
    }
    .menu__link {
        margin-right: 6px;
        font-size: 14px;
        text-decoration: none;
    }
    .menu__link:hover {
        color: rgb(255, 0, 0);
    }
    .contacts {
        right: 0;
        text-align: right;
        font-style: normal;
    }
    .contacts__phone {
        font-size: 27px;
        text-decoration: none;
    }
    .contacts__workhours {
        font-size: 13px;
        text-decoration: underline;
    }
    .time {
    font-size: 13px;
    color: black;
    margin-right: 35px;
    }
    .asia__conteiner {
        display: flex; 
    }