.hotturs{
    padding: 127px 0;
}
.button {
background: #ff0000;
border-radius: 34px;
padding: 18px 40px;
color: white;
font-weight: bold;
font-size: 14px;
text-transform: uppercase;
text-decoration: none;
display: inline-block;
}
.button:hover {
    color: rgb(0, 0, 0);
}
.title__hotturs {
font-weight: bold;
font-size: 36px;
margin-bottom: 51px;
}
.offers__list {
    display: flex;
    justify-content: space-between;
}
.offers__item {
    min-height: 305px;
    background: white;
    border-radius: 4px;
    color: black;
    overflow: hidden;
}

.hotturs__content {
    padding: 30px 20px;
}
.info__icon {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    margin-right: 10px; 
}
.info__icon--food {
    background-image: url("/my-project/img/meal.png") ;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.info__icon--calendar {
    background-image: url("/my-project/img/calendar.png") ;
    background-repeat: no-repeat;
    margin-right: 10px;
}
 .conditions__text {
    margin-right: 25px;
}
.conditions__list {
    display: flex;
    }
    .offers__list {  display: flex;
}
.food__item .food {
    display: flex;
    margin-right: 10px; 
    }
.conditions__item .conditions {
    display: flex;
    margin-right: 10px;
    }
.conditions__item :last-child{
    margin-right: 0px;
}
.country__title {
font-weight: bold;
font-size: 24px;
margin-bottom: 23px;
}
.conditions__list {
    display: flex; 
    align-items: center;
    margin-right: 0;
} 
.text {
    font-size: 14px;
    margin-bottom: 25px;
}
.button__look {
    background: #ffffff;
    border-radius: 34px;
    border: 1px solid red;
    padding: 18px 28px;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-color: red;
}
.btn--color--red:hover {
background: rgb(255, 0, 0);
box-shadow: 0 0 25px 0 rosybrown;
color: white;
}
.offers__item {
margin-bottom: 70px;
}